<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-globe"></span></a>
 </div>
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<a type="button" class="btn-login navbar-btn navbar-right" href="#/login" ng-if="!auth.isLoggedIn">Sign in</a>
	<div ng-if="auth.isLoggedIn">
		<a type="button" class="btn btn-default navbar-btn navbar-right" ng-click="logout()">Logout</a>
		<img ng-src="{{ auth.user.avatar }}" alt="{{ auth.user.nickname }}" class="img-circle navbar-avatar navbar-right">
	</div>
</div>
